<%= render 'shared/profile_nav' %>
<div class="p-2 rounded-md">
  <h2 class="text-lg font-bold">Account</h2>
  <p class="text-gray-600 mt-1">Use this form to edit your personal information</p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="mt-6 grid grid-cols-1 lg:grid-cols-3 gap-4">
      <div class="col-span-2 space-y-4 order-last lg:order-first">
        <div class="flex flex-col">
          <%= f.label :name, class: 'font-medium mb-1' %>
          <%= f.text_field :name, class: 'p-2 border border-gray-300 hover:border-gray-400 focus:outline-none focus:border-blue-400 rounded-md' %>
        </div>
        <div class="flex flex-col">
          <%= f.label :email, class: 'font-medium mb-1' %>
          <%= f.email_field :email, autocomplete: "email", class: 'p-2 border border-gray-300 hover:border-gray-400 focus:outline-none focus:border-blue-400 rounded-md' %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="flex flex-col">
          <div class="flex gap-2">
            <%= f.label :password, class: 'font-medium mb-1' %> <i>(leave blank if you don't want to change it)</i>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: 'p-2 border border-gray-300 hover:border-gray-400 focus:outline-none focus:border-blue-400 rounded-md' %>
        </div>
        <div class="flex flex-col">
          <%= f.label :password_confirmation, class: 'font-medium mb-1' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'p-2 border border-gray-300 hover:border-gray-400 focus:outline-none focus:border-blue-400 rounded-md' %>
        </div>
        <div class="flex flex-col">
          <div class="flex gap-2 mb-1">
            <%= f.label :current_password, class: 'font-medium' %> <i>(we need your current password to confirm your changes)</i>
          </div>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "w-full p-2 border border-gray-300 hover:border-gray-400 focus:outline-none focus:border-blue-400 rounded-md #{'border-red-400 hover:border-red-500 focus:border-red-500' if resource.errors.full_messages_for(:current_password).first}" %>
          <p class="text-xs italic text-red-400">
            <%= resource.errors.full_messages_for(:current_password).first %>
          </p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="flex flex-col items-center"
        >
          <div class="relative" data-controller="image-upload">
            <p class="font-medium mb-1">Avatar</p>
            <%= f.label :avatar, class: 'font-medium mb-1 absolute bottom-0 left-0 bg-sky-500 hover:bg-sky-400 p-2 rounded-md text-white cursor-pointer flex items-center gap-2 font-semibold' do %>
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
              </svg>
              <span>Edit</span>
            <% end %>
            <%= image_tag current_user.avatar.attached? ? current_user.avatar : '/assets/default_pfp.jpg', class: "w-44 h-44 rounded-full", data: { "image-upload-target": "preview" } %>
            <%= f.file_field :avatar, data: { "image-upload-target": "input", action: "change->image-upload#upload" }, class: 'hidden' %>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 flex w-full justify-end lg:justify-start">
      <%= f.submit "Update", class: 'px-3 py-2 rounded-md bg-blue-400 hover:bg-blue-500 text-white font-semibold cursor-pointer' %>
    </div>
  <% end %>
  <hr class="my-6" />
  <h3 class="text-lg font-semibold text-red-500">Danger zone</h3>
  <p class="mb-2 text-gray-600">Unhappy?</p>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'px-3 py-2 rounded-md bg-red-400 hover:bg-red-500 cursor-pointer text-white font-semibold' %>
</div>
