<h1 style="">Hey, <%= @reservation.place.host.name %>!</h1>
<p>
  You have a new reservation from <%= @reservation.user.name %> for "<%= @reservation.place.name %>".
</p>
<p>
  <span>Reserved at</span>
  <span style="font-weight: bold;"><%= @reservation.created_at.strftime("%B %d, %Y - %H:%M") %></span>
</p>
<p>
  <span>Check-in</span>
  <span style="font-weight: bold;"><%= @reservation.checkin.strftime("%B %d, %Y") %></span>
</p>
<p>
  <span>Check-out</span>
  <span style="font-weight: bold;"><%= @reservation.checkout.strftime("%B %d, %Y") %></span>
</p>
<p>
  <span>Guests</span>
  <span style="font-weight: bold;"><%= @reservation.guests %></span>
</p>
<p>
  <span>Total price</span>
  <span style="font-weight: bold;"><%= number_to_currency(@reservation.total_price) %></span>
</p>
<p>
  <span>Status</span>
  <span style="font-weight: bold;"><%= @reservation.status %></span>
</p>
<%= link_to "View reservation", reservation_url(@reservation) %>
