<%= form_with(model: place) do |form| %>
  <div class="flex flex-col gap-4">
    <div class="grid grid-cols-2 gap-4">
      <div class="flex flex-col">
        <%= form.label :name, class: 'font-medium mb-1' %>
        <%= form.text_field :name, class: 'p-2 rounded-md border border-gray-400 hover:border-gray-500' %>
      </div>
      <div class="flex flex-col">
        <%= form.label :headline, class: 'font-medium mb-1' %>
        <%= form.text_field :headline, class: 'p-2 rounded-md border border-gray-400 hover:border-gray-500' %>
      </div>
    </div>
    <div class="flex flex-col">
      <%= form.label :description, class: 'font-medium mb-1' %>
      <%= form.text_area :description, class: 'p-2 rounded-md border border-gray-400 hover:border-gray-500' %>
    </div>
    <div class="flex flex-col"  
      data-controller="places"
      data-action="map-loaded@window->places#initMap"
      >
      <%= form.label :address, class: 'font-medium mb-1' %>
      <input autocomplete="false", data-places-target="input" data-action="keydown->places#keydown" class='p-2 rounded-md border border-gray-400 hover:border-gray-500' />
      <input type="hidden" name="place[address_1]" data-places-target="line1">
      <input type="hidden" name="place[address_2]" data-places-target="line2">
      <input type="hidden" name="place[postal_code]" data-places-target="postal_code">
      <input type="hidden" name="place[city]" data-places-target="city">
      <input type="hidden" name="place[state]" data-places-target="state">
      <input type="hidden" name="place[country]" data-places-target="country">
      <input type="hidden" name="place[latitude]" data-places-target="lat">
      <input type="hidden" name="place[longitude]" data-places-target="lng">
    </div>
    <div class="flex flex-col">
      <%= form.label :price, class: 'font-medium mb-1' %>
      <%= form.number_field :price, class: 'p-2 rounded-md border border-gray-400 hover:border-gray-500' %>
    </div>
    <div class="flex flex-col" data-controller="image-upload">
      <%= form.label :images, class: 'font-medium' %>
      <div class="border rounded-md min-h-32 my-1 flex flex-wrap gap-2" data-image-upload-target="preview">
      </div>
      <%= form.file_field :images, multiple: true, class: 'p-2 rounded-md border border-gray-400 hover:border-gray-500', data: {
        "image-upload-target": "input",
        action: "change->image-upload#uploadMultiple"
      } %>
    </div>
    <%= form.submit 'Create', class: 'py-2 rounded-md bg-blue-500 hover:bg-blue-400 w-full text-white font-semibold cursor-pointer' %>
  </div>
<% end %>
