<header class="mb-6 flex justify-between items-end">
  <div>
    <h1 class="text-xl md:text-3xl font-semibold">
      <%= @place.headline %>
    </h1>
    <p>
      <%= @place.city %>, <%= @place.state %>, <%= @place.country %>
    </p>
  </div>
  <div>
    <%= render 'shared/favorite_button', favorite: @favorite, place: @place, render_text: true %>
  </div>
</header>
<div class="h-96">
  <% if @place.images.attached? %>
    <%= image_tag @place.default_image, class: 'w-full h-full object-cover rounded-md' %>
  <% end %>
</div>
<div class="grid grid-cols-3 gap-24 mt-6">
  <header class="col-span-2 flex justify-between">
    <div class="flex flex-col">
      <h2 class="text-xl font-medium">
        <%= @place.name %> (Hosted by <%= @place.host.name %>)
      </h2>
      <div class="flex gap-2">
        <p class="text-gray-600">
          <%= @place.max_guests %> guests
        </p>
        |
        <p class="text-gray-600">
          <%= @place.rooms %> bedrooms
        </p>
        |
        <p class="text-gray-600">
          <%= @place.beds %> beds
        </p>
        |
        <p class="text-gray-600">
          <%= @place.baths %> baths
        </p>
      </div>
    </div>
    <div class="">
      <%= image_tag @place.host.avatar.attached? ? @place.host.avatar : '/assets/default_pfp.jpg', class: 'w-16 h-16 rounded-full' %>
    </div>
  </header>
  <div class="">
    <div class="border border-gray-300 rounded-md shadow-lg p-6">
      <p class="text-xl">
        <span class="font-semibold"><%= number_to_currency(@place.price, precision: 0) %></span>
        <span class="text-gray-600">night</span>
      </p>
      <div class="mt-6">
        <div class="grid grid-cols-2">
          <input type="date" class="border border-gray-500 rounded-tl-md p-3"/>
          <input type="date" class="border border-gray-500 rounded-tr-md p-3"/>
        </div>
        <input class="border border-gray-500 rounded-b-md w-full p-3"/>
        <button class="mt-4 p-3 rounded-md bg-red-500 hover:bg-red-600 w-full text-white font-semibold">
          Reserve
        </button>
        <p class="mt-2 text-gray-500 text-center">You won't be charged</p>
      </div>
      <div class="flex flex-col space-y-2 text-lg text-gray-600 mt-6">
        <div class="flex justify-between">
          <p><%= number_to_currency(@place.price, precision: 0) %> x 5 nights</p>
          <p><%= number_to_currency(@place.price * 5, precision: 0) %></p>
        </div>
        <div class="flex justify-between">
          <p>Cleaning fee</p>
          <p><%= number_to_currency(@place.cleaning_fee, precision: 0) %></p>
        </div>
        <div class="h-[1px] bg-gray-500 my-6"></div>
        <div class="flex justify-between font-semibold">
          <p>Total</p>
          <p><%= number_to_currency(@place.price * 5 + @place.cleaning_fee, precision: 0) %></p>
        </div>
      </div>
    </div>
  </div>
</div>
