<%= render "nav" %>
<header class="flex items-center justify-between">
  <h1 class="text-2xl font-semibold">Your reservations</h1>
</header>
<% if @reservations.empty? %>
  <p class="text-gray-600 mt-6">You haven't reserved any place yet.</p>
<% else %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
    <% @reservations.each do |reservation| %>
      <div class="border rounded-md shadow bg-white overflow-hidden">
        <%= image_tag reservation.place.default_image, class: 'w-full' %>
        <div class="p-2">
          <div class="flex items-start justify-between gap-2">
            <div>
              <h3 class="font-medium text-xl"><%= reservation.place.name %></h3>
              <p class="text-gray-600"><%= reservation.place.address %></p>
            </div>
            <% style = reservation.paid? ? 'bg-green-200 border-green-400' : reservation.pending? ? 'bg-amber-200 border-amber-400' : 'bg-red-200 border-red-400' %>
            <small class="rounded-full px-2 border <%= style %> text-black font-semibold"><%= reservation.status.capitalize %></small>
          </div>
          <p class="text-gray-600 mt-4">
            <span>Reserved at</span>
            <span class="font-medium"><%= reservation.created_at.strftime("%B %d, %Y - %H:%M") %></span>
          </p>
        </div>
        <div class="flex mt-2">
          <%= link_to "Details", reservation_path(reservation), 
            class: 'flex-1 p-3 cursor-pointer text-gray-700 font-semibold block border-t border-r border-gray-300 text-center hover:bg-gray-100' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
