<header class="mb-6 flex justify-between items-end">
  <div>
    <h1 class="text-xl md:text-3xl font-semibold">
      <%= @place.headline %>
    </h1>
    <p>
      <%= @place.city %>, <%= @place.state %>, <%= @place.country %>
    </p>
  </div>
  <div>
    <%= render 'shared/favorite_button', favorite: @favorite, place: @place, render_text: true %>
  </div>
</header>
<div>
  <% if @place.images.attached? %>
    <div class="grid grid-cols-2 gap-1 md:gap-2">
      <%= image_tag @place.default_image, class: 'w-full h-full object-cover rounded-md' %>
      <div class="grid grid-cols-2 gap-1 md:gap-2">
        <% @place.images.drop(1).first(4).each do |image| %>
          <%= image_tag image, class: 'w-full h-full object-cover rounded-md' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-24 mt-6">
  <div class="col-span-2 mb-6 lg:mb-0">
    <header class="flex justify-between gap-4 mb-8">
      <div class="flex flex-col">
        <h2 class="text-xl font-medium">
          <%= @place.name %> (Hosted by <%= @place.host.name %>)
        </h2>
        <div class="flex text-center divide-x divide-gray-400 text-xs sm:text-base mt-2">
          <p class="px-2">
            <%= pluralize(@place.max_guests, 'guest') %>
          </p>
          <p class="px-2">
            <%= pluralize(@place.rooms, 'room') %>
          </p>
          <p class="px-2">
            <%= pluralize(@place.beds, 'bed') %>
          </p>
          <p class="px-2">
            <%= pluralize(@place.baths, 'bath') %>
          </p>
        </div>
      </div>
      <%= image_tag @place.host.user_avatar, class: 'w-16 h-16 rounded-full' %>
    </header>
    <p>
      <%= @place.description %>
    </p>
  </div>
  <div class="">
    <%= render "reservation" %>
  </div>
</div>
<div class="h-[1px] bg-gray-300 my-12 w-full"></div>
<%= render 'reviews/reviews', place: @place %>
<div class="h-[1px] bg-gray-300 my-12 w-full"></div>
<%= render 'map', place: @place %>
